<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body style="background-color: darkgray;">
    <div style="width: fit-content; margin: 0 auto; margin-top: 80px;">

        <h1>Sign up</h1>

        <form action="/api/signup" method="post">

            <label for="name">Name</label><br>
            <input type="text" name="name" id="name">

            <br><br>

            <label for="account">Account</label><br>
            <input type="text" name="account" id="account">

            <br><br>

            <label for="password">Password</label><br>
            <input type="password" name="password" id="password">

            <br><br>

            <input type="submit" value="Sign up">

        </form>

    </div>
    
</body>
</html>